<h1>Relação de turmas</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render(@turmas) || nenhuma_turma %>

</table>

<br />

<%= link_to 'Cadastrar turma', new_turma_path %>
