<h1>Relação de alunos</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Nome</th>
    <th>Turma</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render(@alunos) || nenhum_aluno %>
  
</table>

<br />

<%= link_to 'Cadastrar aluno', new_aluno_path %>
