<h1>Relação de matérias</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render(@materias) || nenhuma_materia %>

</table>

<br />

<%= link_to 'Cadastrar matéria', new_materia_path %>
