<h1>Relação de professores</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render(@professores) || nenhum_professor %>
</table>

<br />

<%= link_to 'Cadastrar professor', new_professor_path %>
